/* Responsive Styles */
@media screen and (max-width: 600px) {
    .container {
      padding: 20px;
    }
  
    table {
      width: 100%;
    }
  }
  
  /* General Styles */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Link Styles */
  a {
    text-decoration: none;
  }
  
  /* Icon Styles */
  .add {
    font-size: 24px;
    color: #007bff;
    margin-right: 10px;
  }
  
  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
  }
  
  thead {
    background-color: #333333;
    color: #ffffff;
  }
  
  th {
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Button Styles */
  button {
    background-color: green;
    border: none;
    cursor: pointer;
  }
  
  /* Icon Colors */
  .fa-trash-can {
    color: #ff0000;
  }
    
  .fa-pen-to-square {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
  }
 
  
  .fa-pen-to-square:hover {
    background-color: #0056b3;
  }